<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>🌤 Weather App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">🌈🌦️ WeatherNova Weather App</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/weather" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="city" placeholder="Enter city name" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Get Weather</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>


